.mat-raised-button{
    background-color:red;
    color: white;
} 
.mat-button{
    background-color:green;
    color: white;
} 
.mat-card{
    width: 200px;
    border: auto;
    background-color: lightseagreen
}